
# Dataset — terlalu besar untuk GitHub
data/

# Model files — bisa >100MB
outputs/models/*.h5
outputs/models/*.keras

# Python cache
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
